@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Rajdhani:700);

/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  background: #202021;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: Roboto;
}

/* -------------------------------------------------------------- */

/* .wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
} */

/* -----TECH-CLASSES--------------------------------------------- */

[class*="__container"] {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: content-box;
  background: linear-gradient(90deg, #515559, rgb(15, 15, 15));
  background: rgb(81, 85, 89); /* Все браузеры*/
  background: -moz-linear-gradient(
    left,
    rgba(81, 85, 89, 1) 0%,
    rgba(15, 15, 15, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(81, 85, 89, 1) 0%,
    rgba(15, 15, 15, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(81, 85, 89, 1) 0%,
    rgba(15, 15, 15, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515559', endColorstr='#0f0f0f',GradientType=1 ); /* IE6-9 */
}
/* PC */
@media (max-width: 1170px) {
  [class*="__container"] {
    max-width: 970px;
  }
}
/* TABLET */
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}
/* MOBILE */
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}
/* SMALL MOBILE */
@media (max-width: 479.98px) {
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* -----ШАПКА---------------------------------------------------- */

.header {
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__body {
  display: flex;
  min-height: 100px;
  align-items: center;
}
@media (max-width: 479px) {
  .header__body {
    min-height: 72px;
  }
}

.header__logo {
  font-size: 25px;
  font-weight: 700;
  color: #fed7fd;
  font-family: Rajdhani;
}
.header__login {
  font-size: 20px;
  font-weight: 400;
  color: #b1afaf;
  line-height: calc(24 / 14 * 100%);
  margin-left: auto;
}

.header__menu {
  margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
}
.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.menu__link {
  font-size: 20px;
  font-weight: 400;
  color: #b1afaf;
  line-height: calc(24 / 14 * 100%);
}

.menu__list .active {
  color: #fff;
  font-weight: 600;
  cursor: default;
  text-decoration: none;
}
.menu__link:not(.active):hover {
  text-decoration: underline;
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
    color: #565656;
  }
}

.header__line {
  background: rgba(255, 255, 255, 0.12);
  width: 95%;
  height: 1px;
  margin: 0 auto;
}

/* -----PAGE----------------------------------------------------- */

.page {
  flex: 1 1 auto;
}

.page__transactions {
}

/* -----TRANSACTIONS----------------------------------------------------- */
.transactions {
}
.transactions__container {
}
.transactions__body {
  padding: 30px 0px 0px 0px;
}
.transactions__items {
  display: flex;
  flex-direction: column;
}
.transactions__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
  border-radius: 25px;
}
.transactions__name {
  display: flex;
  align-items: center;
}

.transactions__item svg {
  min-width: 20px;
  min-height: 20px;
  margin: 0 30px 0 0;
}
.transactions__item div {
  font-size: 16px;
  line-height: 19px;
}

.transactions__item > *:last-child {
  font-size: 15px;
  border: 2px solid #fff;
  border-radius: 10px;
  min-height: 35px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transactions__item {
  transition: all 0.4s ease 0s;
}
.transactions__item:hover {
  background: rgba(141, 141, 141, 0.1);
}

/* -----HOME----------------------------------------------------- */
.home {
}
.home__container {
}
.home__body {
  padding: 30px 0px 0px 0px;
}

/* -----LOGIN----------------------------------------------------- */
.login {
  height: 100%;
}
.login__container {
}
.login__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0px 0px 0px;
}
.login__body > *:not(:last-child) {
  margin-bottom: 50px;
}
.login__title {
  font-size: 28px;
}
.login__form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}
.login__form > *:not(:last-child) {
  margin-bottom: 50px;
}
.form-login__item {
  color: #b1afaf;
  transition: all 0.5s ease 0s;
}
.form-login__title {
  font-size: 22px;
  margin-bottom: 15px;
  min-width: 100%;
  font-weight: 600;
  color: inherit;
}
.form-login__input {
  background: transparent;
  outline: none;
  color: #fff;
  font-size: 18px;
  border-bottom: 1px solid #b1afaf;
  min-width: 100%;
  line-height: 150%;
  transition: all 0.5s ease 0s;
}
.form-login__button {
  color: #b1afaf;
  background-color: transparent;
  border: 1px solid #b1afaf;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 66px;
  font-weight: 700;
  text-align: center;
  line-height: 150%;
  padding: 5px 5px;
  transition: all 0.5s ease 0s;
}
.form-login__item:focus-within,
.form-login__item:hover {
  color: #fff;
}
.form-login__input:focus,
.form-login__input:hover {
  border-bottom: 1px solid #fff;
}
.form-login__button:hover {
  color: #fff;
  border: 1px solid #fff;
  animation: 1s infinite alternate login-button;
}

@keyframes login-button {
  from {
    box-shadow: 0px 0px 10px gold;
  }

  to {
    box-shadow: 0px 0px 20px #fff;
  }
}

/* -----FOOTER----------------------------------------------------- */

.footer {
  position: sticky;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 50;
}
.footer__body {
  min-height: 100px;
  display: flex;
  align-items: center;
}
